@use "@/styles/globals.scss" as *;

.flormorado-navbar {
  background: $principal-beige-transparent-gradient;
  transition: all 0.3s ease;
  max-height: 120px;
  align-items: initial;

  &:hover {
    background-color: $principal-beige;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 990px) {
    background: $principal-beige;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.fmc-navbar-link {
  height: 65px;
  transition: color 0.15s ease-in-out;
  color: $principal-purple;
  padding: 20px 0px;

  @media screen and (max-width: 990px) {
    color: $principal-verde;
    border-bottom: 1px solid $principal-purple;
  }

  a {
    color: $principal-purple !important;
    padding: 0px !important;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $principal-verde;
  }
}

.fmc-navbar-link:hover {
  color: $principal-verde;
}

.fmc-offcanvas {
  background-color: $principal-beige;
}

.fmc-offcanvas-title {
  font-family: Economica;
  font-weight: bold;
  color: $principal-purple;
}

.fmc-offcanvas .accordion-item {
  border: none;
  background-color: transparent;
}
