@use "@/styles/globals.scss" as *;

.flormorado-navbar {
  background: $principal-beige-transparent-gradient;
  transition: all 0.3s ease;
  max-height: 120px;
  align-items: initial;

  &:hover {
    background-color: $principal-beige;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 990px) {
    background: $principal-beige;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.fmc-navbar-link {
  height: 65px;
  transition: color 0.15s ease-in-out;
  color: $principal-purple;
  padding: 20px 0px;

  @media screen and (max-width: 990px) {
    color: $principal-verde;
    border-bottom: 1px solid $principal-purple;
  }

  a {
    color: $principal-purple !important;
    padding: 0px !important;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $principal-verde;
  }
}

.fmc-navbar-link:hover {
  color: $principal-verde;
}

.fmc-offcanvas {
  background-color: $principal-beige;
}

.fmc-offcanvas-title {
  font-family: Economica;
  font-weight: bold;
  color: $principal-purple;
}

.fmc-navbar-button {
  background-color: $principal-purple;
  border: 1px solid $principal-purple;
  padding: 8px 16px;
  margin: 12px 14px;

  &:hover {
    background-color: #83365c;
    border: 1px solid $principal-cafe;
    box-shadow: 0px 8px 8px rgba(0, 129, 255, 0.24);
  }

  &:active {
    background-color: #4c1e35 !important;
    transform: translateY(2px);
  }

  span {
    img {
      filter: brightness(0) invert(1);
    }
  }

  @media screen and (max-width: 990px) {
    width: 100%;
    margin: 60px 0px;
  }
}

.fmc-navbar-accordion-mobile {
  margin: 0 0.5rem;

  button {
    color: $principal-verde !important;
    background-color: transparent !important;
    height: 65px;
    padding: 20px 0px !important;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid $principal-purple !important;
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:not(.collapsed) {
      border: none;
      color: $principal-verde !important;
      background-color: transparent !important;
      border-bottom: 2px solid $principal-verde !important;
      box-shadow: none !important;
    }
  }
}

.fmc-offcanvas .accordion-item {
  border: none;
  background-color: transparent;
}
