.ul {
  padding: 10px 0px;
  display: flex;
  flex-flow: column;
  gap: 24px;
  margin-bottom: 24px;
  max-width: 464px;
}

.lists {
  margin: 0;
  color: #4e556c;

  strong {
    font-weight: 600;
  }
}
