/* Colors */

$principal-purple: #6d2649;
$principal-beige: #fff6e6;
$principal-beige-oscuro: #e4e2dd;
$principal-cafe: #512a18;
$principal-verde: #104928;

$input-text-color: #555f83;

/* Carbon colors */

$carbon-dark: #1b1c1e;
$carbon-light: #55616f;

$carbon-dark-900: #1b1c1e;
$carbon-dark-700: #333333;
$carbon-dark-400: #898d95;
$carbon-dark-100: #cdcdcd;

$carbon-light-900: #55616f;
$carbon-light-700: #555f83;
$carbon-light-400: #adbae6;
$carbon-light-100: #eff2fc;

/* Semantic colors */

$error-900: #981b1f;
$error-700: #e24c4c;
$error-400: #da6d6e;
$error-100: #fdeaed;

$warning-900: #b75f0e;
$warning-700: #ffaa31;
$warning-400: #ffcd84;
$warning-100: #fff3e1;

$success-900: #117847;
$success-700: #00ca82;
$success-400: #86e0b7;
$success-100: #e2f8ed;

$info-900: #2e4783;
$info-700: #266dd0;
$info-500: #3187ff;
$info-400: #43a5ff;
$info-100: #e3f2ff;

/* Gradients */

$principal-purple-gradient: linear-gradient(
  180deg,
  #6d2649e6 -1.39%,
  $principal-purple 100%
);

$principal-beige-gradient: linear-gradient(
  180deg,
  $principal-beige 0%,
  $principal-beige-oscuro 100%
);

$secondary-beige-gradient: linear-gradient(
  180deg,
  #fff6e6e1 -1.39%,
  $principal-beige 100%
);

$principal-beige-transparent-gradient: linear-gradient(
  180deg,
  $principal-beige 25%,
  #fcf6ea 0%,
  transparent 100%
);

/* Fonts */

$font-flormorado: "Source Sans 3", sans-serif;
