/* Colors */

$principal-purple: #6d2649;
$principal-beige: #fff6e6;
$principal-beige-oscuro: #e4e2dd;
$principal-cafe: #512a18;
$principal-verde: #104928;

/* Gradients */

$principal-purple-gradient: linear-gradient(
  180deg,
  #6d2649e6 -1.39%,
  $principal-purple 100%
);

$principal-beige-gradient: linear-gradient(
  180deg,
  $principal-beige 0%,
  $principal-beige-oscuro 100%
);

$secondary-beige-gradient: linear-gradient(
  180deg,
  #fff6e6e1 -1.39%,
  $principal-beige 100%
);

$principal-beige-transparent-gradient: linear-gradient(
  180deg,
  $principal-beige 25%,
  #fcf6ea 0%,
  transparent 100%
);

/* Fonts */

$font-flormorado: "Source Sans 3", sans-serif;

@font-face {
  font-family: "Economica";
  src: url("@assets/fonts/Economica/Economica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
