@use "@/styles/globals.scss" as *;

.fmc-checkout-logo {
  max-width: 20rem;
  margin: 0 auto;
  cursor: pointer;

  a {
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 990px) {
    max-width: 15rem;
  }
}

.fmc-checkout-card-header {
  font-family: "Economica";
  font-weight: bold;
  color: $principal-purple;
  font-size: 1.5rem;
}
