@use "../../../styles/globals.scss" as *;

.title-component {
  font-family: "Economica", sans-serif;
  border: none;
  background-color: transparent;
  color: $principal-purple;
  text-align: center;
  margin-top: 3rem;
  font-weight: 700;

  h1 {
    font-size: 3rem !important;
  }
}
