@use "@/styles/globals.scss" as *;

.fmc-navbar-accordion-mobile {
  margin: 0 0.5rem;

  button {
    color: $principal-verde !important;
    background-color: transparent !important;
    height: 65px;
    padding: 20px 0px !important;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid $principal-purple !important;
    box-shadow: none !important;

    &:hover,
    &:focus,
    &:not(.collapsed) {
      border: none;
      color: $principal-verde !important;
      background-color: transparent !important;
      border-bottom: 2px solid $principal-verde !important;
      box-shadow: none !important;
    }
  }
}
